.messages {
  .left {
    .media-object {
      border-radius: 50%;
      width: 50px;
    }

    .media-heading {
      margin-bottom: 0px;
      font-size: 16px;
    }

    span {
      font-size: 12px;
    }

    i {
      font-size: 10px;
    }
  }
  .right {
    .media-object {
      border-radius: 50%;
      width: 30px;
    }
    .media-body {
      max-width: 300px;
    }
  }
}
